:root {
  --primary: #F4EDE4;
  --secondary: #0800C0;
  --tertiary: #C0C0C0;
  --quaternary: #000000;
  --heading-size: 25px;
  font-family: "VT323", monospace, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--tertiary);
}
  
header {
  background-color: var(--secondary);
  height: 30vh;
}
  
main {
  background-color: var(--secondary);
  background-image: url(public/images/background.png);
  background-size: 1920px;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 60vh;
}
  
footer {
  background-color: var(--tertiary);
  height: 10vh;
    
}
 
.score {
  position: relative;
    
}

.playerscore {
  position: absolute;
  top: 0;
  left: 0;
}

.opponentscore {
  position: absolute;
  top: 0;
  right: 0;
}

#player-score,
#opponent-score,
.playerscore,
.opponentscore {
  color: white;
  background-color: black;
}

h1 {
  text-align: center;
  padding-top: 20px;
  background-color: var(--secondary);
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary);
  padding: 25px;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.8);
}

h3 {
  display: flex;
  justify-content: center;
  color: var(--primary);
  font-size: 50px;
  margin-top: 215px;
  margin-left: 50px;
  margin-right: 50px;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.8);
}
  
p {
  text-align: center;
   padding-top: 32px;
}

#music-toggle {
  position: absolute;
  top: 12px;
  left: 12px;
  border: none;
  background: none;
  cursor: pointer;
}
  
#music-toggle img {
  width: 50px;
  height: 50px;
  filter: brightness(0) invert(1);
}

  
#game-container {
  text-align: center;

}
  
#player-choice button {
  margin: 8px;
}
  
#result {
  display: flex;
  justify-content: center;
  color: white;
  background-color: black;
  padding: 0px;
  font-size: 32px;
  text-align: center;
  height: 200px;
  margin-top: 50px;
}

button {
  appearance: none;
  border: none;
  background: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

button:hover {
  transform: scale(1.3);
}

.characters {
  height: 320px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

#Alex-Kidd {
  width: 86px;
  height: 145px;
  display: flex;
  margin: 145px 20px 0px 380px;
}

#Gooseka {
  width: 100px;
  display: flex;
  height: 160px;
  margin: 130px 380px 0px 20px;
}

.manueljimena {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: none;
}

.github img {
  width: 25px;
}

@media (max-width: 1024px) {
    
  #Alex-Kidd {
    width: 86px;
    height: 145px;
    display: flex;
    margin: 145px 20px 0px 380px;
  }
  
  #Gooseka {
    width: 100px;
    display: flex;
    height: 160px;
    margin: 130px 380px 0px 20px;
  }
}

@media (min-width: 768px) {
  
  #Alex-Kidd {
    width: 86px;
    height: 145px;
    display: flex;
    margin: 165px 40px 0px 30px;
  }
  
  #Gooseka {
    width: 100px;
    display: flex;
    height: 160px;
    margin: 150px 29px 0px 0px;
  }

}
  
@media (max-width: 767px) {

  #Alex-Kidd {
    width: 86px;
    height: 145px;
    display: flex;
    margin: 165px 20px 0px 28px;
  }
  
  #Gooseka {
    width: 100px;
    display: flex;
    height: 160px;
    margin: 150px 28px 0px 20px;
  }

  h3 {
    font-size: 45px;
    margin-top: 215px;
    margin-left: 20px;
    margin-right: 20px;
  }

  #result {
    font-size: 25px;
    height: 170px;
  }

  button {
    width: 90px;
  }

  button:hover {
    transform: scale(1.2);
  }

  button img{
    margin-right: 125px;
    width: 90px;
    height: 125px;
  }
    
  #player-choice button {
    height: 125px;
  }

}

@media (max-width: 411px) {

  #Alex-Kidd {
    width: 86px;
    height: 145px;
    display: flex;
    margin: 85px 20px 0px 28px;
  }
  
  #Gooseka {
    width: 100px;
    display: flex;
    height: 160px;
    margin: 70px 28px 0px 20px;
  }

  #result {
    font-size: 25px;
    height: 160px;
  }

  button {
    width: 90px;
  }

  button:hover {
    transform: scale(1.03);
  }

  button img{
    margin-right: 125px;
    width: 90px;
    height: 118px;
  }
    
  #player-choice button {
    height: 118px;
  }

  main {
    background-size: 1230px;
    height: 55vh;
  }

  footer {
    height: 27vh;
  }

}